alabaster
altgraph
Babel
certifi
chardet
dis3
docutils
empy
future
idna
imagesize
Jinja2
macholib
MarkupSafe
packaging
pefile
psutil
pyapi-gitlab
Pygments
PyInstaller
pyparsing
pytz
PyYAML
requests
six
snowballstemmer
Sphinx
sphinxcontrib-websupport
typing
urllib3
