alabaster==0.7.12
altgraph==0.16.1
Babel==2.6.0
certifi==2018.8.24
chardet==3.0.4
dis3==0.1.2
docutils==0.14
empy==3.3.2
future==0.16.0
idna==2.7
imagesize==1.1.0
Jinja2==2.11.3
macholib==1.11
MarkupSafe==1.0
packaging==18.0
pefile==2018.8.8
psutil==5.6.6
pyapi-gitlab==7.8.5
Pygments==2.7.4
PyInstaller==3.4
pyparsing==2.2.2
pytz==2018.5
PyYAML==5.4
requests==2.20.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
typing==3.6.6
urllib3==1.24.2
